<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Contact</title><link rel="stylesheet" th:href="@{/css/styles.css}"/></head>
<body>
    <div th:replace="layout/header :: header"></div>
    <h2>Contact Me</h2>
    <div class="contact-box">
        <form th:action="@{/contact}" th:object="${contactForm}" method="post">
            <label>Feel free to contact me</label><br/>
            <input type="text" th:field="*{name}" placeholder="Name"/><br/>
            <input type="text" th:field="*{subject}" placeholder="Subject"/><br/>
            <input type="email" th:field="*{email}" placeholder="E-mail"/><br/>
            <button type="submit">Send</button>
        </form>
        <div>
            <b>Phone</b><br/>
            +91 8123308575<br/>
            <b>E-mail</b><br/>
            rakshithavl78@gmail.com
        </div>
        <div th:if="${msg}" th:text="${msg}"></div>
    </div>
</body>
</html>
