<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Skills</title><link rel="stylesheet" th:href="@{/css/styles.css}"/></head>
<body>
    <div th:replace="layout/header :: header"></div>
    <h2>SKILLS</h2>
    <div class="skills-box">
        <ul>
            <li>JAVA</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>BOOTSTRAP</li>
            <li>JAVASCRIPT</li>
            <li>TYPESCRIPT</li>
            <li>ANGULAR</li>
        </ul>
    </div>
</body>
</html>
